{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div id="bg-body" class="main">
		<div id="BgHome">
			<img src="{{asset('media/bg-home.jpg')}}">
			<a href="{{ path('booking') }}" class="btn">Réserver</a>
			<i class="bi bi-arrow-down-circle"></i>
		</div>
		<div class="container-fluid">
		<div class="flex-md-row-reverse row">
			<div id="BgMenu" class="col-md"></div>
			<div class="col-md d-block align-self-center">
				<div class="p-5 text-center">
					<h3 class="mb-4"><strong>Le Quai Antique</strong></h3>
					<p>
						Bienvenue dans notre restaurant typique Savoyard Français !<br>
						Nous sommes fiers de proposer uniquement des plats locaux, préparés avec des ingrédients locaux de la plus haute qualité. Notre menu est un voyage culinaire à travers les montagnes, avec des spécialités savoyardes telles que la tartiflette, la raclette, la fondue et bien d'autres encore. Notre ambiance rustique et chaleureuse crée une atmosphère confortable pour se détendre après une journée de ski ou de randonnée.
						Nous sommes fiers de soutenir les producteurs locaux et de contribuer à la préservation de la cuisine savoyarde traditionnelle. Nous sommes impatients de vous accueillir et de vous faire découvrir les saveurs de notre belle région. <strong>Venez nous voir !</strong>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="BgInfo" class="col-md"></div>
			<div class="col-md d-block align-self-center text-center">
				<div class="p-5">
					<h3 class="mb-4">Nos produits</h3>
					<p>
						Tous nos produits proviennent de la région savoyarde et sont soigneusement sélectionnés pour leur qualité exceptionnelle. Nous travaillons en étroite collaboration avec des producteurs locaux pour obtenir des ingrédients frais et de saison pour nos plats. Nos légumes sont cultivés localement et sont récoltés à maturité pour garantir une saveur et une texture optimales. Nous sommes fiers de notre partenariat avec des éleveurs locaux qui fournissent de la viande de qualité supérieure pour notre menu. Le fromage, l'un des ingrédients clés de la cuisine savoyarde, est également produit localement dans les alpages de montagne. En utilisant des ingrédients locaux et de qualité, nous sommes en mesure de proposer des plats savoureux et authentiques qui reflètent la richesse culinaire de la région savoyarde.
					</p>
				</div>
			</div>
		</div>
		</div>
	</div>
{% endblock %}
