{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div id="bg-body">
		<div id="BgHome">
			<img src="{{asset('media/bg-home.jpg')}}">
			<a href="/bookingDate">
				<button type="button" class="btn-home btn-lg btn">Réserver</button>
			</a>
			<i class="bi bi-arrow-down-circle"></i>
		</div>
		<div class="container-fluid">
		<div class="flex-md-row-reverse row">
			<div id="BgMenu" class="col-md"></div>
			<div class="col-md d-block align-self-center">
				<div class="p-5 text-center">
					<h3 class="mb-4">Formule unique à volonté <strong>Raclette Savoyarde</strong></h3>
					<p>
						Pour une petite faim ou une énorme envie de fromage, la formule à volonté est LA FORMULE pour tous. Réservez dès maintenant, car le nombre de places est limité. Aucune limite par contre à la gourmandise.
					</p>
					<p class="text-secondary">19,90€ par personne</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="BgInfo" class="col-md"></div>
			<div class="col-md d-block align-self-center text-center">
				<div class="p-5">
					<h3 class="mb-4">Le Fromage</h3>
					<p>
						Nous avons à cœur de sélectionner pour vous du fromage de qualité pour un plaisir gustatif à la hauteur de ce que nous attendons pour vous. Le lait de notre fromage à raclette que nous vous proposons est à 100 % des montagnes d'Auvergne avec 8 semaines d'affinage minimum. Vous trouverez également du fromage de chèvre et du Roquefort pour une expérience gustative unique.
					</p>
					<h3 class="mt-5 mb-4">La Charcuterie</h3>
					<p>
						Jambon de porc origine France, sans conservateur. Chorizo doux ou fort, rosette, jambon blanc et bien d'autres produits de qualité à cuire à votre goût à la bougie.
					</p>
				</div>
			</div>
		</div>
		</div>
	</div>
{% endblock %}
