@import '~bootstrap/scss/bootstrap';
@import './variables';

html {
    color: #FEFBE9;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    background-color: #183A1D;
    color: #e1eedd;
}
