html {
    color: #FEFBE9;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    background-color: #183A1D;
    color: #e1eedd;
}

$primary:       #FFBE0B;
$secondary:     #FB5607;
$success:       #3A86FF;
$info:          #FF006E;
$light:         #8338EC;