@import '~bootstrap/scss/bootstrap';
@import './variables';

html {
    color: #FEFBE9;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar.navbar-expand-md.fixed-top {
    background-color: #f0A04B;
  }

header {
    background-color: #f0A04B;
}

footer {
    background-color: #183A1D;
    color: #FEFBE9;
}