@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import './variables';

html {
    color: #FEFBE9;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar.navbar-expand-md {
    background-color: #183A1D;
    color: #FEFBE9;
}

#BgHome {
    min-height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

#BgHome img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.85) blur(1px);
    overflow: hidden;
}

#BgHome a {
    z-index: 99;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75px;
    width: 200px;
    color: #FEFBE9;
    font-size: 250%;
    padding-bottom: 65px;
    border: solid 5px #FEFBE9;

    &:hover {
        border: solid 7px #FEFBE9;
    }
}

#BgHome i {
    font-size: 5rem;
    z-index: 100;
    color: #FEFBE9;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);
}

#BgMenu {
    background-image: url(../../public/media/bg-menu.jpg);
    max-height: 50vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
    height: 100%;
    overflow-x: hidden;
}

#bg-body {
    background-color: #FEFBE9;
}

#bg-menu {
    background-color: #FEFBE9;
}

#BgInfo {
    background-image: url(../../public/media/bg-info.jpg);
    max-height: 50vh;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
}

header {
    background-color: #183A1D;
    color: #FEFBE9;
    z-index: 999;
}

footer {
    background-color: #183A1D;
    color: #FEFBE9;
}

.menu-item {
    background-color: #FEFBE9;
    border-radius: 5px;
    box-shadow: 0 0 10px #909090;
    min-height: 50vh;

    @media screen and (max-width: 768px) {
        height: 100%;
    }

    .menu-item--image-container {
        background-size: cover;
        background-position: center;
        padding: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 0;
            min-height: 100%;

            @media screen and (max-width: 768px) {
                height: 50vh;
                border-radius: 5px 5px 0 0 !important;
            }
        }
    }

    .menu-item--text {
        padding: 0;
    }

    &.menu-item-even {
        img {
            border-radius: 5px 0 0 5px;
        }
    }

    &.menu-item-odd {
        img {
            border-radius: 0 5px 5px 0;
        }
    }
}