<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet"/>
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header class="p-2">
        <div class="container-fluid">
        <nav id="sidenav-1" class="sidenav" data-mdb-hidden="false">
  <ul class="sidenav-menu">
    <li class="sidenav-item">
      <a class="sidenav-link">
        <i class="far fa-smile fa-fw me-3"></i><span>Link 1</span></a>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fas fa-grin fa-fw me-3"></i><span>Category 1</span></a>
      <ul class="sidenav-collapse show">
        <li class="sidenav-item">
          <a class="sidenav-link">Link 2</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Link 3</a>
        </li>
      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fas fa-grin-wink fa-fw me-3"></i><span>Category
          2</span></a>
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Link 4</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Link 5</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
        </div>
			<div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col d-flex justify-content-start">
					    {#<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<line x1="3" y1="12" x2="21" y2="12"></line>
							<line x1="3" y1="6" x2="21" y2="6"></line>
							<line x1="3" y1="18" x2="21" y2="18"></line>
						</svg>
					    </a>#}
                 
                        
                        <button
                        data-mdb-toggle="sidenav"
                        data-mdb-target="#sidenav-1"
                        class="btn"
                        aria-controls="#sidenav-1"
                        aria-haspopup="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<line x1="3" y1="12" x2="21" y2="12"></line>
							<line x1="3" y1="6" x2="21" y2="6"></line>
							<line x1="3" y1="18" x2="21" y2="18"></line>
						    </svg>
                        </button>


                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="#">
                            <img src="media/logo.png" width="160px">
                        </a>
                    </div>
                    <div class="col d-flex justify-content-lg-end">
				        <button type="button" class="btn btn-outline-light me-2 login-button">
                            Se connecter
                        </button>
                    </div>
			    </div>
		    </div>
        </header>

        <main role="main" class="container mt-5"> {% block body %}{% endblock %}</main>

        <footer>
            <div class="container-fluid">
                <div class="row text-center p-2">
                    <div class="col-md d-block mt-2 mb-2">
					    <h6 class="text-uppercase">contact</h6>
                        <div>
                            <img src="media/tel.svg" width="12" class="d-inline">
                            <p  class="d-inline">00.00.00.00.00</p>
                        </div>
                        <div>
                            <img src="media/instagram.svg" width="12" class="d-inline">
                            <p  class="d-inline">Quai_Antique</p>
                        </div>
                    </div>
                    <div class="col-md d-block mt-2 mb-2">
                        <h6 class="text-uppercase">horaires</h6>
                        <p>
                            Du lundi au dimanche<br />Réservation de 11h00 à 14h00<br />et de 18h00 à 21h00
                        </p>
                    </div>
                    <div class="col-md d-block mt-2 mb-2">
                        <h6 class="text-uppercase">adresse</h6>
                        <p>
                            3 rue du Restaurant<br />73 000 Chambéry<br />France.
                        </p>
                    </div>
                </div>
            </div>
        </footer>

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
    </body>
</html>
